.title {
     padding: 30px;
     justify-content:center;
     text-align: center;
     margin: auto;
     font-weight: bold;
     font-size: 25px;
     color: white;
     background-color: #FB6542;
}
 .nav {
     padding: 30px;
     text-align: center;
     justify-content:center;
     font-weight: bold;
     margin: auto;
     border: 6px solid white;
     font-size: 28px;
     background-color: #FFBB00;
}
.page {
  text-align: center;
}
 #content{
     padding: 30px;
     text-align: center;
     justify-content:center;
     font-weight: bold;
     width:1000px;
     margin: 0 auto;
     font-size: 28px;
     background-color: #3F6;
}
 .h2 {
     font-size: 10px;
}

.h3{
    text-align: left;
}

#SACSTATE {
    width: 230px;
     height:220px;
    float: left;
}

.SACSTATEP {
    margin-right: 250px;
}

#UCBERK {
    width: 230px;
     height:220px;
    float: right;
}

.collegeTitle {
    margin-top: 90px;
}

.UCBERKP {

    margin-left: 250px;
}

#UCSD {
    float: left;
    width: 230px;
     height:220px;
}

.UCSDP {
    margin-right: 250px;
}

#urls {
    text-decoration: underline;
    color: blue;
}

#black {
    color: black;
}

#MXOAK {
    width: 300px;
     height:300px;
    float: left;
}

#MATH {
     width: 300px;
     height:300px;
}

#CCPA {
    width: 300px;
     height:300px;
    float: right;
}

p {
    font: 20px Arial, Helvetica, sans-serif;
}
.title {
    font-family: italic bold 20px "Times New Roman", Times, serif;
}
.nav {
    font: 30px arial, sans-serif;
}














































/*img, :hover {
    */
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 0.5s;
     */
    /* When the animation is finished, start again */
    /* animation-iteration-count: infinite;
     */
    /*
}
*/
/*@keyframes shake {
    */
    /* 0% {
         transform: translate(1px, 1px) rotate(0deg);
    }
    */
    /* 10% {
         transform: translate(-1px, -2px) rotate(-1deg);
    }
    */
    /* 20% {
         transform: translate(-3px, 0px) rotate(1deg);
    }
    */
    /* 30% {
         transform: translate(3px, 2px) rotate(0deg);
    }
    */
    /* 40% {
         transform: translate(1px, -1px) rotate(1deg);
    }
    */
    /* 50% {
         transform: translate(-1px, 2px) rotate(-1deg);
    }
    */
    /* 60% {
         transform: translate(-3px, 1px) rotate(0deg);
    }
    */
    /* 70% {
         transform: translate(3px, 1px) rotate(-1deg);
    }
    */
    /* 80% {
         transform: translate(-1px, -1px) rotate(1deg);
    }
    */
    /* 90% {
         transform: translate(1px, 2px) rotate(0deg);
    }
    */
    /* 100% {
         transform: translate(1px, -2px) rotate(-1deg);
    }
    */
    /*
}
*/
 body {
     background-color: white;
}
 